<%- include ('../views/partials/header.ejs') %>
<body>
    <section>
        <h1><a href="/" id="user-name">BUSA ADHARSH</a></h1>
    </section>
    <div class="bookread">
        <h2 style="font-size: 40px;">What I've Read</h2>
        <p>Listed below are a few of the <strong>books I have read</strong>. Although they may not be detailed, they contain <strong>exceptional information</strong>. You will find it to be very useful. <strong>There is a constant change in the data in it as I read books</strong>. I might update the context.</p>
    </div>
    <div class="sort">
        <p>Sorted with my <strong>top recommendation.</strong> Sort by
            <a href="#" name="title" id="title" onclick="onSort(event)">title,</a>
            <a href="#" name="newest" id="newest" onclick="onSort(event)">newest,</a>
            <a href="#" name="best" id="best" onclick="onSort(event)">best</a>
        </p>
    </div>
    <hr>
    <div class="books">
        <% if(locals.err){ %>
            <p><%= err %></p>
        <% } else if(locals.data) { %>
                <% data.forEach(element =>{ %>
                    <div class="individualBook">
                        <input type="hidden" name="id" value="<%= element.id %>">
                        <a href="/" id="bookname">
                            <img src="<%= element.image %>" alt="<%= element.book_name %>">
                            <%= element.book_name %>-
                            <%= element.author_name %>
                        </a>
                        <p class="bookdetail">Completion Date: <%= new Date(element.date_completed).toISOString().slice(0,10) %> How good I recommend:&thinsp;<%= element.rating %>&thinsp; /&thinsp; 10</p>
                        <p class="bookdetail">Published Year: <%= element.publication_date %>&nbsp; Pages:<%= element.no_of_pages %></p>
                        <p id="subject"><%= element.subject %></p>
                        <p id="description"><%= element.description %></p>
                        <p class="bookdetail link">For more information checkout here, <a href="https://www.google.com/search?q=<%= element.book_name  %>+<%= element.author_name %>" id="booklink" style="font-size: 19px; padding: 0;">Book</a></p>
                    </div>
                <% }); %>
        <% } %>
    </div>
    
    <script>
        function onSort(event) {
            event.preventDefault();
            const sortType = event.target.getAttribute('name');
            const data = {sort : sortType};
            fetch('/sort', {
                method : 'POST',
                headers:{
                    'Content-Type':'application/json',
                },
                body:JSON.stringify(data)
            })
            .then(response => {
                if(!response.ok) {
                    throw new Error(`HTTP ERROR! staus ${response.status}`);
                }
                return response.json();
            })
            .then(result => {
                if(result.err){
                    console.log(result.err);
                }else {
                    const booksContainer = document.querySelector('.books');
                    booksContainer.innerHTML = ' ';
                    result.forEach(book => {
                        const bookElement = document.createElement('div');
                        bookElement.classList.add('book');
                        bookElement.innerHTML=`
                        <input type="hidden" name="id" value="${book.id}">
                        <a class="bookname">
                            <img src="${book.image }" alt="${book.book_name }" id="bookname">
                            ${book.book_name }-
                            ${book.author_name }
                        </a>
                        <p class="bookdetail">Completion Date: ${book.date_completed } &nbsp; How good I recommend: ${book.rating }</p>
                        <p class="bookdetail">Published Year: ${new Date(book.publication_date ).toISOString().slice(0,10)} &nbsp; Pages:${book.no_of_pages }</p>
                        <p id="subject">${book.subject }</p>
                        <p>${book.description }</p>
                        <p class="bookdetail link">For more information checkout here, <a href="https://www.google.com/search?q=${book.book_name  }+${book.author_name }" id="booklink" style="font-size: 19px; padding: 0;">Book</a></p>
                        `;
                        booksContainer.appendChild(bookElement);
                    });
                }
            })
            .catch(error =>{
                console.error(error);
            });
        } 
    </script>
</body>
</html>